@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');

header {
    background: #fff;
    box-shadow: 3px 0 8px rgba(0,0,0,0.3);
    position: fixed;
    width: 100%;
}


.navbar-brand {
    color: rgb(159, 190, 100) !important;
    font-family: 'Lato', sans-serif;
}

.nav-link {
    color: #1C5253 !important;
    transition: all 0.2s ease-in;
    font-family: 'Lato', sans-serif;
}


.nav-link:hover {
    color:  rgb(159, 190, 100) !important;
}

@media (min-width : 992px) {
    .navbar-collapse {
        flex-grow: 0 !important;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
