header {
    background: #3498db;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    transition: all 0.3s ease-in;
}


.nav-link:hover {
    color: #e67a65 !important;
}



@media (min-width : 992px) {
    .navbar-collapse {
        flex-grow: 0 !important;
    }
}
